body {
    background-color: #111d29 !important;
}

html body a {
    color: #b1d237 !important;
}

#SIvCob {
    color: #fff !important;
}

.sfbg {
    background-color: #111d29 !important;
}

#pTwnEc {
    background-color: #111d29 !important;
}

#slim_appbar {
    background-color: #111d29 !important;
}

.fc9yUc {
    color: #b1d237 !important;
}

.iUh30 {
    color: #fff !important;
}

.GmE3X {
    color: #fff !important;
}

.q8U8x {
    color: #fff !important;
}

.YyVfkd {
    color: #fff !important;
}

#fbar {
    background-color: #111d29 !important;
}

.KwU3F {
    color: #b1d237 !important;
}

.xSQxL {
    color: #b1d237 !important;
}

.dfB0uf {
    color: #fff !important;
}

.Q8LRLc {
    color: #fff !important;
}

.VwiC3b {
    color: #fff !important;
}

.yXK7lf em {
    color: #fff !important;
}

.dyjrff {
    color: #fff !important;
}

#result-stats {
    color: #fff !important;
}

.GOE98c {
    color: #fff !important;
}

#hdtb-tls {
    color: #fff !important;
}

.z1asCe svg {
    color: #b1d237 !important;
}

.gb_oa svg {
    color: #b1d237 !important;
}